
#page-landing {
    background: linear-gradient(
      329.54deg,
      #29b6d1 0%,
      #00c7c7 100%
    ); /* degradê */
    text-align: center; /* nomes no centro */
    min-height: 100vh;
    display: flex; /* alinhar ao centro - poderia tbm colocar margin: auto ou align-items: center */
  }
  
  #container {
      margin: auto;
      width: 90%;
  
  }
  
  
  .location,
  h1,
  .visit p {
    height: 16vh;
  }
  
  .visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;
    border: none; /* sem borda */
    border-radius:3rem; /* arredonda */
    display:flex;
    align-items: center; /* alinhar ao centro */
    justify-content: center;
    margin: auto;
    transition: background 200ms;
  }
  
  .visit a:hover {

    background: #96feff;
  }
  